<h1>{{ 'gasLimit' | translate }}</h1>
<br>

<div class="main-body">
  <div class="table-container" *ngIf="dataSource">
    <table>
      <thead>
        <tr>
          <th>{{ 'Mã Thiết Bị' | translate }}</th>
          <th>{{ 'Tên Mẫu Đo' | translate }}</th>
          <th>{{ 'Giá Trị Đo Tối Đa' | translate }}</th>
          <th>{{ 'Đặt Ngưỡng Cảnh Báo' | translate }}</th>
          <th>{{ 'Cập nhật' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataSource.data">
          <td>{{ data.tag }}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.maxValue }}</td>
          <td>{{ data.alarmValue }}</td>
          <td>
            <button mat-icon-button color="primary" (click)="openEditForm(data)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
