.example-spacer {
  flex: 1 1 auto;
}

.main-body {
  padding-top: 0px;
  margin: 0 auto;
}

.table-container {
  width: 1440px;
  height: 700px;
  overflow: auto;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.normal-row {
  color: green;
}

.error-row {
  color: red;
  font-weight: bold;
}

.calib-row {
  color: purple;
  font-weight: bold;
  font-style: italic;
}

.high-alarm {
  color: red;
  font-weight: bold;
  animation: blink-animation 500ms infinite alternate;
}

.normal-alarm {
  color: green;
  // font-size: 30px;
}

@keyframes blink-animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
