<h1>{{'dashboard' | translate}}</h1>
<br>

<div class="main-body">
  <div class="table-container" *ngIf="dataSource"> 
    <table>
      <thead>
        <tr>
          <th>{{'Mã Thiết Bị' | translate}}</th>
          <th>{{'Tên Mẫu Đo' | translate}}</th>
          <th>{{'Giá Trị Đo' | translate}}</th>
          <th>{{'Đơn Vị' | translate}}</th>
          <th>{{'Trạng Thái' | translate}}</th>
          <th>{{'Ngưỡng Cao' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataSource.data" [ngClass]="getRowClass(data.status)">
          <td>{{ data.tag }}</td>
          <td>{{ data.name }}</td>
          <td [ngClass]="getStatusAlarm(data.alarmStatus)">{{ data.realtimeValue }}</td>
          <td>{{ data.unit }}</td>
          <td>{{ data.status }}</td>
          <td [ngClass]="getStatusAlarm(data.alarmStatus)">{{ data.alarmStatus }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- <div class="language">
  <span class="fi fi-vn">
    <button mat-button (click)="useLanguage('vi')"></button>
  </span>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
  <span class="fi fi-us">
    <button mat-button (click)="useLanguage('en')"></button>
  </span>
</div> -->
